/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    font-size: 1.5em;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:white;
    color: blanchedalmond;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: blanchedalmond;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }